//output: test.html

doctype html
html
  head
    title Random Canvas Background Generator
  body
    canvas#canvas(
      width="1360",
      height="400",
      style="margin:auto;"
      )
    button#generate Generate
  script(src="../../dist/RandomBackgroundGenerator.min.js")
  script. 
          var back = new RandomBackgroundGenerator('canvas', 'Polygonal','#AEA8D3', '#663399', '#BE90D4', '#E4F1FE');
          back.getMode().setDensity(0.6);
          back.getMode().setMixed(false);
          document.getElementById('generate').addEventListener('click', function(){
              back.generate();
          });
         
    
