//output: test.html

doctype html
html
  head
    title Random Canvas Background Generator
  body
    canvas#canvas(
      width="1300",
      height="400",
      style="margin:auto;"
      )
    button#generate Generate
  script(src="htmlTest.dist.js")
  script htmlTest.run("canvas");
         
    
